/* You can add global styles to this file, and also import other style files */
// $primary-color: #BA68C8;
$primary-color: #81C784;
$primary-color-text: #ffffff;
$surface-a: #1f2d40;
$surface-b: #17212f;
$surface-c: rgba(255, 255, 255, 0.03);
$surface-d: #304562;
$surface-e: #1f2d40;
$surface-f: #1f2d40;

html {
  background-color: $surface-b;
}

p {
  color: $primary-color-text;
}

:root {
  font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
